* {
    box-sizing: border-box;
}

:root {
    --primary-button-background-color: royalblue;
    --primary-background-color: dimgray;
    --primary-text-color: white;
    --primary-button-hover-color: lightskyblue;
    --border-thin: 1px;
    --border-medium: 2px;
    --border-thick: 4px;
}


.menu, .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: var(--primary-text-color);
    gap: 10px;
    padding: 1rem;
}

.menu-button, .main-button {
    width: 100%; 
    max-width: 500px;
    height: 100px;
    border-radius: 10px;
    font-size: 3rem;
    color: var(--primary-text-color);
    border: var(--border-medium) solid white;
    background-color: var(--primary-button-background-color);
    white-space: normal;
    text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  width: 100%;
  max-width: 500px;
  height: 100px;
  margin-bottom: 20px;
  white-space: nowrap;
  border-bottom: var(--border-thin) solid white;
  color: var(--primary-text-color);
  text-align: center;
  padding: 0 20px;
}

.menu-button:hover {
    background-color: var(--primary-button-hover-color);
    cursor: pointer;
}

@media (max-width: 900px) {
    .title {
        font-size: 4rem;
    }

    .menu-button {
        font-size: 2.5rem;
        height: 80px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }

    .menu-button {
        font-size: 2rem;
        height: 70px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 2.2rem;
    }

    .menu-button {
        font-size: 1.5rem;
        height: 60px;
    }
}

.deck-title {
    font-size: 3rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.deck-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.listed-deck {
    width: 100%;
    max-width: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.listed-deck button {
    width: 100%;
    border: var(--border-medium) solid white;
    background-color: var(--primary-button-background-color);
    font-size: 2rem;
    text-align: left;
    padding: 1rem;
    border-radius: 15px;
    color: var(--primary-text-color);
    cursor: pointer;
}

.listed-deck button:hover {
    background-color: var(--primary-button-hover-color);
}

.loading {
    text-align: center;
    font-size: 3rem;
    color: var(--primary-text-color);
}

.login-error {
    max-width: 200px;
    word-wrap: break-word;
}