* {
    box-sizing: border-box;
}


.menu, .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    gap: 5px;
    padding: 1rem;
}

.menu-button, .main-button {
    width: 100%; 
    max-width: 500px;
    height: 100px;
    border-radius: 10px;
    font-size: 3rem;
    color: white;
    border: 5px solid white;
    background-color: skyblue;
    white-space: normal;
    text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  width: 100%;
  max-width: 500px;
  height: 100px;
  margin-bottom: 20px;
  white-space: nowrap;
  border-bottom: 5px solid white;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.menu-button:hover {
    background-color: royalblue;
    cursor: pointer;
}

@media (max-width: 900px) {
    .title {
        font-size: 4rem;
    }

    .menu-button {
        font-size: 2.5rem;
        height: 80px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }

    .menu-button {
        font-size: 2rem;
        height: 70px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 2.2rem;
    }

    .menu-button {
        font-size: 1.5rem;
        height: 60px;
    }
}

.deck-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.listed-deck {
    width: 100%;
    max-width: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.listed-deck button {
    width: 100%;
    border: 5px solid white;
    background-color: skyblue;
    font-size: 2rem;
    text-align: left;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.listed-deck button:hover {
    background-color: royalblue;
}

