.card-list {
  list-style: none;
  padding: 50px;
  padding-top: 0px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.listed-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    background-color: gray;
    padding-bottom: 25px;
    border: solid var(--border-thin) var(--accent);
    border-radius: 15px;
}

.card-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.card-header {
    padding: 0px;
    margin: 0px;
    border-radius: 15px 15px 0 0;
}

.front-label {
    padding: 0px;
    margin: 0px;

}

.back-label {
    padding: 0px;
    margin: 0px;
}

.text-scroll {
    max-height: 300px;
    width: fit-content;
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-word;
    border: solid var(--border-thin) var(--accent);
    background-color: lightgray;
    margin: 0px 25px;
}

.button-wrapper {
    display: flex;
    grid-column: 1;
    grid-row: 3;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.delete-button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: darkred;
    font-size: 2rem;
    color: var(--accent);
    border: solid var(--border-thin) var(--accent);
}

.delete-button:hover {
    background-color: #B22222;
}

.edit-button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    font-size: 2rem;
    color: var(--primary-text-color);
    background-color: var(--primary-button-background-color);
    border: solid var(--border-thin) var(--accent);
}

.edit-button:hover {
    background-color: var(--primary-button-hover-color);
}