.listed-card {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    width: 100%;
    max-height: none;
    overflow: visible;
}

.listed-card p {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

.card-text {
    font-size: 2rem;
    margin: 0px;
    white-space: pre-wrap;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.card-text p {
    font-size: 1rem;
}

.text-scroll {
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    padding-right: 10px;
    white-space: pre-wrap;
    word-break: break-word;
    border: solid var(--border-thin) var(--accent);
}

.card-list {
  list-style: none;
  padding: 50px;
  padding-top: 0px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 900px;
}

.delete-button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: darkred;
    font-size: 2rem;
    color: var(--accent);
    border: solid var(--border-thin) var(--accent);
}

.delete-button:hover {
    background-color: #B22222;
}

.edit-button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    font-size: 2rem;
    color: var(--primary-text-color);
    background-color: var(--primary-button-background-color);
    border: solid var(--border-thin) var(--accent);
}

.edit-button:hover {
    background-color: var(--primary-button-hover-color);
}

.card-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: left;
    gap: 30px;
    padding: 3rem; 
    margin-bottom: 1rem;
    background-color: var(--primary-button-background-color);
    border-radius: 2rem;
    width: 100%;
    border: solid var(--border-thin) var(--accent);
}

.button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}