.timer-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px;
    background-color: gray;
    gap: 15px;
    border-radius: 15px;
    border: solid var(--border-medium) var(--accent);
}

.input {
    font-size: 1.5rem;
    text-align: left;
    border: solid var(--border-medium) var(--accent);
    padding: 15px;
    color: var(--accent);
    width: 200px;
}

.work-label {
    grid-row: 1;
    grid-column: 1;
    font-size: 2rem;
}

.word-time-input {
    grid-row: 2;
    grid-column: 1;
}

.rest-label {
    grid-row: 1;
    grid-column: 2;
    font-size: 2rem;
}

.rest-time-input {
    grid-row: 2;
    grid-column: 2;
}

.add-interval {
    grid-row: 2;
    grid-column: 3;
}

.clear-interval {
    grid-row: 1;
    grid-column: 3;
}

.clear-interval:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.buttons {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 25px;
    border-radius: 15px;
    background-color: gray;
    border: solid var(--border-medium) var(--accent);
    margin-top: 10px;
}

@Media (max-width: 600px) {

    .timer-form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        padding: .5rem;
    }

    .work-label, .word-time-input {
        grid-column: 1;

    }

    .work-label, .rest-label {
        margin-bottom: 0px;
    }

    .rest-label, .rest-time-input {
        grid-column: 2;
    }

    .add-interval {
        grid-row: 3;
        grid-column: 2;
        justify-self: center;
    }

    .clear-interval {
        grid-row: 3;
        grid-column: 1;
        justify-self: center;
    }

    .input {
        font-size: 1rem !important;
        width: 100%;
        box-sizing: border-box;
    }
}

.interval-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 25px;
    background-color: gray;
    border: solid var(--border-medium) var(--accent);
    border-radius: 15px;
    margin: 10px auto;
    width: 100%;
    max-width: 350px;
}

.interval-list ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 15px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.interval-list li {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

.interval-list p {
    padding: 15px;
    margin: 0px;
}

.interval-list button {
    background-color: var(--primary-button-background-color);
    border: solid var(--border-medium) var(--accent);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.interval-list button:hover {
    background-color: var(--primary-button-hover-color);
    border: solid var(--border-medium) var(--accent);
    cursor: pointer;
}

.interval-title {
    font-size: 3rem;
    margin-bottom: 5px;
}

.instructions {
    font-size: 18pt;
    color: black;
}

.timer-display {
    margin-top: 10px;
    padding: 25px;
    background-color: gray;
    border: solid var(--border-medium) var(--accent);
    border-radius: 15px;
}