.timer-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 25px;
    background-color: gray;
    gap: 15px;
    border-radius: 15px;
    border: solid var(--border-medium) var(--accent);
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.timer-form > * {
  justify-self: center;  
  text-align: center;   
}

.input {
    font-size: 1.5rem;
    text-align: center;
    border: solid var(--border-medium) var(--accent);
    padding: 15px;
    color: var(--accent);
    width: 100%;
    box-sizing: border-box;
}

.work-label {
    grid-row: 1;
    grid-column: 1;
    font-size: 2rem;
    justify-self: right;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.work-time-input {
    grid-row: 2;
    grid-column: 1;
}

.rest-label {
    grid-row: 1;
    grid-column: 2;
    font-size: 2rem;
    justify-self: left;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.rest-time-input {
    grid-row: 2;
    grid-column: 2;
}

.add-interval {
    grid-row: 3;
    grid-column: 2;
}

.clear-interval {
    grid-row: 3;
    grid-column: 1;
}

.clear-interval:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.timer-interval-list {
    border: none !important;
    grid-column: 1 /span 2;
    grid-row: 4;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.timer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 80px;
    min-height: 80px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    border: var(--border-medium) solid var(--accent);
    background-color: var(--primary-button-background-color);
    white-space: normal;
    cursor: pointer;
    padding: 15px;
}

.timer-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 600px) {

    .timer-form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        padding: 0.5rem;
    }

    .work-label, .work-time-input {
        grid-column: 1;
    }

    .work-label, .rest-label {
        margin-bottom: 0px;
    }

    .rest-label, .rest-time-input {
        grid-column: 2;
    }

    .add-interval {
        grid-row: 3;
        grid-column: 2;
    }

    .clear-interval {
        grid-row: 3;
        grid-column: 1;
    }

    .input {
        font-size: 1rem !important;
        width: 100%;
        box-sizing: border-box;
    }
}

.interval-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 25px;
    background-color: gray;
    border: solid var(--border-medium) var(--accent);
    border-radius: 15px;
    margin: 10px auto;
    width: 100%;
    max-width: 350px;
}

.interval-list ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 15px;
}

.interval-list ol.numbered {
    list-style: decimal !important;
    list-style-type: decimal !important; 
    padding-left: 20px; 
}

.interval-list li {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
    display: list-item; /* Keeps the numbers */
}

.interval-list li > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}


.listed-interval-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.interval-list p {
    margin: 0px;
}

.interval-list button {
    background-color: var(--primary-button-background-color);
    border: solid var(--border-medium) var(--accent);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.interval-list button:hover {
    background-color: var(--primary-button-hover-color);
    border: solid var(--border-medium) var(--accent);
    cursor: pointer;
}

.interval-title {
    font-size: 3rem;
    margin-bottom: 5px;
}

.instructions {
    font-size: 18pt;
    color: black;
}

.timer-area {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border: solid var(--border-medium) var(--accent);
    gap: 10px;
    justify-content: center;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
}

.timer-display {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
}

@media (max-width: 400px) {
    .work-label, .rest-label {
        font-size: 1.5rem;
        padding: 0;
    }
}

.delete-button.hidden {
    display: none;
}