.formContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-top: 15px;
    color: var(--primary-text-color);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.textField {
    width: 250px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.login-button {
    width: 150px;
    height: 60px;
}